html {
    background-image: url(images/view-spectacular-nature-landscape\ 1.png);
    background-size: cover;
    font-family: Poppins;
    color: rgba(255, 255, 255, 0.75);
}

body {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.navbar { 
    grid-area: 1 / 1 / 6 / 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.upper-body { 
    grid-area: 1 / 2 / 4 / 6; 
}

.left-side { 
    grid-area: 4 / 2 / 6 / 4; 
}

.right-side { 
    grid-area: 4 / 4 / 6 / 6; 
}
